@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
body {
    background: #535c68;
    margin: 15px;
    margin-top: 50px;
}

.login-form,
.login-form * {
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    background: #4caf50;
}

.login-form {
    max-width: 350px;
    margin: 50px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login-form__logo-container {
    padding: 30px;
    background: #4caf50;
}

.login-form__logo {
    display: block;
    max-width: 125px;
    margin: 0 auto;
    background: #4caf50;
}

.login-form__content {
    padding: 30px;
    background: #eeeeee;
}

.login-form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.login-form__input:focus {
    border-color: #009578;
}

.login-form__input::placeholder {
    color: #aaaaaa;
}

button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #009578;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}