.adoption img {
    width: 300px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.adoption ul {
    margin-left: 70px;
    font-family: "Inconsolata", monospace;
}

#poochie ul {
    display: none;
}

#poochie:hover ul {
    display: block;
}

#leo ul {
    display: none;
}

#leo:hover ul {
    display: block;
}

#roxy ul {
    display: none;
}

#roxy:hover ul {
    display: block;
}

.adoption img {
    width: 300px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.adoption ul {
    margin-left: 70px;
    font-family: "Inconsolata", monospace;
}

#poochie ul {
    display: none;
}

#poochie:hover ul {
    display: block;
}

#leo ul {
    display: none;
}

#leo:hover ul {
    display: block;
}

#roxy ul {
    display: none;
}

#roxy:hover ul {
    display: block;
}