body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s ease;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.5s ease;
    text-decoration: none;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
    transition: 0.5s ease;
    text-decoration: none;
}

.topnav .icon {
    display: none;
    transition: 0.5s ease;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
        transition: 0.5s ease;
    }
    .topnav a.icon {
        float: right;
        display: block;
        transition: 0.5s ease;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        transition: 0.5s ease;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.5s ease;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        transition: 0.5s ease;
    }
}

footer {
    background-color: #4caf50;
}