p {
    font-family: 'Economica', sans-serif;
    height: 250px;
    width: 550px;
    margin-bottom: 20px;
    font-size: 2rem;
    overflow: auto;
}

img {
    height: 350px;
    margin-top: 5px;
    width: 550px;
}

@media (max-width: 768px) {
    p {
        text-align: justify;
        height: 250px;
        width: 450px;
    }
    img {
        height: 250px;
        width: 450px;
    }
}