.title {
    text-align: center;
}

.col-md-6 {
    font-size: 2.4rem;
    font-family: "Inconsolata", monospace;
}

.contact {
    background-image: url("../images/contact.jpg");
    height: 300px;
    text-align: center;
    padding: 90px 0;
    color: white;
}

.contact .col-md-6 {
    font-family: "Economica", sans-serif;
    font-family: "Fugaz One", cursive;
    font-family: "Sigmar One", cursive;
}

.contact i {
    margin-right: 2px;
    font-size: 3rem;
}

.contact h1 {
    color: white;
}

.contact i {
    color: #4caf50;
    font-style: normal;
}

.col-md-4 h1 {
    font-size: 2rem;
}

#c1 {
    background-color: #4caf50;
    width: 100%;
}

#list {
    height: auto;
    text-align: center;
    font-size: 2rem;
    background-color: #2ecc71;
    padding-bottom: 20px;
}

#list button {
    background-color: #4caf50;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    outline: none;
    border: none;
    transition: 0.5s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

#list button:hover {
    padding: 10px 15px 10px 15px;
    transition: 0.5s ease;
}

#c1 {
    background-color: #4caf50;
}

.carousel .carousel-inner {
    height: 500px;
}

.carousel-inner .carousel-item img {
    min-height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel .carousel-inner {
        height: auto;
    }
    .contact {
        height: 400px;
    }
}

.breed {
    height: 300px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    text-align: center;
    padding: 90px 0;
    color: white;
}

.breed i {
    color: #4caf50;
    font-style: normal;
}

.breed button {
    background-color: #4caf50;
    width: 200px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    outline: none;
    border: none;
    transition: 0.5s ease;
}

.breed button:hover {
    width: 220px;
    transition: 0.4s;
}

i {
    font-style: normal;
    color: white;
}